{% extends '::base.html.twig' %}
{% block body %}

  <div class="alert-container container-fluid">
    <img src="img/Logo_PALR.jpg" alt="Logo" class="div-modif-perception">
    <br>
    <h1 class="div-modif-perception"> Bienvenue sur le gestionnaire de clés du Port de La Rochelle ! </h1>
    <p class="div-modif-perception">Supervisé par Monsieur Stéphane LAFOY, Madame Maud THOMELET, Madame Céline MARTEAU.</p>
    <p class="div-modif-perception">Développé par les étudiant de l'IUT Informatique de la Rochelle : SOUFFLEUX Thomas, CHARBONNEAU Teddy, CLEMENCEAU Simon, HAŸS Téo.</p>
    <!-- <div class="alert alert-warning">
      <strong>Michel Dupont</strong> doit rendre la clé <strong>PG302GP56</strong> le <strong>20/12/2017</strong>.
    </div>
    <div class="alert alert-warning">
      <strong>Camille Durand</strong> doit rendre la clé <strong>PG389B23</strong> le <strong>21/12/2017</strong>.
    </div>
    <div class="alert alert-danger">
      <strong>Jean Delion</strong> n'a pas rendu la clé <strong>PG389B23</strong> qu'il devait rendre le <strong>10/12/2017</strong>. <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Archiver</button>
    </div> -->
  </div>
</div>

{% endblock %}
