{% extends '::base.html.twig' %}
{% block body %}

  <div class="alert-container container-fluid">
    <div class="alert alert-warning">
      <strong>Michel Dupont</strong> doit rendre la clé <strong>PG302GP56</strong> le <strong>20/12/2017</strong>.
    </div>
    <div class="alert alert-warning">
      <strong>Camille Durand</strong> doit rendre la clé <strong>PG389B23</strong> le <strong>21/12/2017</strong>.
    </div>
    <div class="alert alert-danger">
      <strong>Jean Delion</strong> n'a pas rendu la clé <strong>PG389B23</strong> qu'il devait rendre le <strong>10/12/2017</strong>. <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Archiver</button>
    </div>
  </div>
</div>

{% endblock %}
