{% extends '::base.html.twig' %}
{% block body %}



 <a href="{{ path('numPorte') }}" class="btn btn-primary" role="button">Par Numéro de Porte</a>


 <a href="{{ path('numCle') }}" class="btn btn-primary" role="button">Par Numéro de Clé</a>


 <a href="{{ path('localisation') }}" class="btn btn-primary" role="button">Par Localisation</a>









{% endblock %}