{% extends '::base.html.twig' %}
{% block body %}

<div class="container">
  <h2>Ajouter une perception</h2>
  <h3> Veuillez renseigner les champs suivants : </h3>
  <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="Nom">Nom :</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Nom" name="Nom">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Prénom">Prénom :</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="Prénom" name="Prénom">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Email">Email :</label>
      <div class="col-sm-10">          
        <input type="email" class="form-control" id="Email" name="Email">
      </div>
    </div>
    <div class="radio">
  		<label><input type="radio" name="optradio">Employé du port</label>
  		<label><input type="radio" name="optradio">Collaborateur Externe</label>
	</div>

	<div class="form-group">
      <label class="control-label col-sm-2" for="Organisation">Organisation :</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="Organisation" name="Organisation">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="date">Date de début de perception :</label>
      <div class="col-sm-10">          
        <input type="date" class="form-control" id="date" name="date">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="date">Date de fin de perception (non obligatoire) :</label>
      <div class="col-sm-10">          
        <input type="date" class="form-control" id="date" name="date">
      </div>
    </div>
    <div class="radio">
  		<label><input type="radio" name="optradio">Par numéro de clé</label>
  		<label><input type="radio" name="optradio">Par numéro de porte</label>
  		<label><input type="radio" name="optradio">Par localisation</label>
	</div>


	 <div class="radio" id="oui">
  		
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <label><input type="radio" name="optradio" data-toggle="collapse" data-parent="#oui" href="#collapse1">Par numéro de clé</label>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
  </div> 
  </form>
</div>

{% endblock %}