{% extends "::base.html.twig" %}

{% block title %}AdministrateurBundle:BdController:CreerVariure{% endblock %}

{% block body %}

<div class="container">
  <h2>Créer une variure</h2>
  <h3> Veuillez renseigner les champs suivants : </h3>
  </div>


{% endblock %}
