{% extends '::base.html.twig' %}
{% block body %}

  <link href="/css/ajouterPerception.css" rel="stylesheet">


 <a href="{{ path('numCle') }}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-edit"></span>  Par Numéro de Cle</a>


 <a href="{{ path('numPorte') }}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-edit"></span>  Par Numéro de Porte</a>


  <a href="{{ path('localisation') }}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-edit"></span>  Par Localisation</a>









{% endblock %}