{% extends '::base.html.twig' %}
{% block body %}

  <link href="/css/ajouterPerception.css" rel="stylesheet">

<h1> Vous souhaitez ajouter une perception </h1>
 <h2> Choisissez par quel moyen vous souhaitez l'ajouter. </h2>
 <a href="{{ path('numCle') }}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-edit"></span>  Par Numéro de Cle</a>


 <a href="{{ path('numPorte') }}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-edit"></span>  Par Numéro de Porte et par localisation</a>











{% endblock %}
