{% extends '::base.html.twig' %}
{% block body %}

 <link href="/css/ajouterPerception.css" rel="stylesheet">


<h1> Vous souhaitez ajouter une perception par numéro de porte et par localisation. </h1>
<h2> Le percepteur existe-il déjà ? </h2>


 <a href="{{ path('numPorteNouveauPercepteur') }}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-plus-sign"></span>  Nouveau Percepteur</a>

<a href="{{ path('numPortePercepteurConnu') }}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span>  Percepteur Connu</a>





{% endblock %}
