{% extends '::base.html.twig' %}
{% block body %}






 <a href="{{ path('numCleNouveauPercepteur') }}" class="btn btn-primary" role="button">Nouveau Percepteur</a>

 <a href="{{ path('numClePercepteurConnu') }}" class="btn btn-primary" role="button">Percepteur connu</a>
 









{% endblock %}