{% extends '::base.html.twig' %}
{% block body %}

<div class="container">
  <h2>Base de données filtré</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Variure</th>
        <th>Date Perception</th>
        <th>Organisation</th>
        <th>Etat</th>
        <th>Numéro Pass</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td><a href="{{ path('modifierPerception') }}" class="btn btn-success btn-modif">Modifier</a>
      </tr>
    </tbody>
  </table>
{% endblock %}
