{% extends '::base.html.twig' %}
{% block body %}



{% for message in app.flashes('success') %}
<div class="alert alert-success">
  {{ message }}
</div>
{% endfor %}

<div class="container">
  <h2>Modifier la perception</h2>
  <h3> Modifier les champs désirés : </h3>
      <form class="col s12">
          <div class="row" style="max-width: 70%;">
            <div class="form-control">
              {{ form_start(form) }}
              {{ form_end(form) }}
            </div>
          </div>
      </form>

</div>
{% endblock %}
