label{
  font-weight: bold;
}

.form_array_container{
  padding-top: 25px !important;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-evenly;
  padding: 0 3%;
}

label{
  padding-top: 3px;
}

.form-container{
  text-align: center;
}

form{
  padding-bottom: 9px;
}

ul.nav{
  padding-top: 10px;
}

button.btn-danger{
  padding-top: 5px;
}

footer{
  height: 35px;
  text-align: center;
  bottom:0;
}

ul.nav{
  padding-left: 10px;
}

body{
  position: relative;
  min-height: 100%;
  text-align: center;
}

.nav1{
  display:flex;
  flex-flow: row nowrap;
}

.deconnexion{
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-suppr{
  margin-left: 3px;
}

.navchoix{
  display: flex;
}

nav{
  padding-bottom: 15px;
}
