.panel{
  max-width: 400px;
  margin: auto;
}

form{
  padding: 5px;
}

.panel-login{
  margin-top: 15px;
}

p.login{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
}

footer{
  height: 35px;
  text-align: center;
  bottom:0;
  padding-top: 10%;
}

ul.nav{
  padding-left: 10px;
}
