.panel{
  max-width: 400px;
  margin: auto;
}

form{
  padding: 5px;
}

.panel-login{
  padding-top: 15px;
}

p.login{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 40px;
}
