{% extends '::base.html.twig' %}
{% block body %}
<img src="img/icone_bleu.png" alt="Logo" height="128" width="128">
<h2 class="login">Bienvenue ! Veuillez vous connecter.</h2>
<div class="panel panel-default panel-login">
 <div class="panel-body col-sm-4 col-centered">
     <form>
        <div class="form-group">
          <label for="login">Identifiant :</label>
          <input type="text" class="form-control" id="login">
        </div>

        <div class="form-group">
          <label for="mdp">Mot de passe :</label>
          <input type="password" class="form-control" id="mdp">
        </div>

        <a class="btn btn-success" href="{{ path('accueil') }}"><span class="glyphicon glyphicon-chevron-right"></span> Connexion</a>

      </form>
    </div>
  </div>
  {% endblock %}
